/* footer and header style */
header,
footer {
  background-color: #99ff99;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid;
  border-color: black;
  font-size: 13px;
}

/* body*/
body {
  background-image: url("images/BG.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden;
}
/*h1 style (most important)*/
h1 {
  text-align: center;
  font-family: cursive, "Times New Roman", Times, serif;
  background-color: rgb(173, 137, 206);
  border-radius: 4%;
  border: 2px solid;
  padding: 0px;
  margin: auto 0px;
}

/* h2 style(heading inside my article) */
h2 {
  margin: auto 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* h2 style(heading inside my article) */
h3 {
  margin: auto 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* link */
a {
  text-decoration: unset;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

/* style to center my text on the page */
.div-center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

/* style for my image */
.profile-pic {
  width: 50%;
  border-radius: 50%;
  /*height: 150px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: currentColor;
  padding: 10px, 10px, 10px, 10px;
  border-style: solid;
  border-color:turquoise;
}

/* class for my image inside(contact article) */
.social {
  width: 20px;
  height: 20px;
}

/* style for my ordered links */
ol {
  list-style-type: lower-alpha;
}

/* class for my links inside(contact article) */
.social-links li {
  list-style-type: none;
}